@font-face {
  font-family: "U8-Bold";
  src: url("../../assets/fonts/Fatype_U8/Fatype_U8/U8-Bold.otf")
    format("opentype");
}

.invest {
  padding: 170px 16px 100px;
  font-family: DM Sans, sans-serif;
  color: #353535;
  line-height: 27.2px;
  font-size: 16.5px;
}

.invest .container {
  max-width: 1165px;
  margin: auto;
}

.invest .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.invest .left {
  /* width to 50% of the flex container flex-(grow, shrink, basis)*/
  flex: 0 0 50%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 25px;
}

.invest .left .text {
  max-width: 500px;
}

.invest .left .text h1 {
  margin-top: -20px;
  font-size: 65px;
  line-height: 82.42px;
  font-family: "U8-Bold", sans-serif;
  font-weight: 700;
  color: #0c1825;
}

.invest .left .text p {
  margin-bottom: 40px;
  margin-top: 10px;
}

.invest .left .box {
  margin-top: 10px;
}

.invest .left .box .btn {
  font-size: 16.5px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  padding: 16px 22px;
  border-radius: 12px;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s;
  background: #0c1825;
  color: #fff;
  text-decoration: none;
}

.invest .left .box .btn:hover {
  background: #0d60d8;
}

.invest .left .box .download {
  margin-top: 50px;
}

.invest .left .box .btn-download {
  position: relative;
  top: 0.5px;
  color: #0c1825;
  padding: 14.5px 16px;
  border: 1px solid #ddd;
  border-radius: 12px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  width: 53px;
  white-space: nowrap;
  height: 53px;
  margin-right: 16px;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

.invest .btn-download:hover {
  top: -5px;
  border: 1px solid #bbb;
}

.invest .btn-download img {
  margin-bottom: -6px;
  margin-right: 3px;
}

.invest .right {
  /* width to 50% of the flex container flex-(grow, shrink, basis)*/
  flex: 0 0 50%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
}

.invest .right .box {
  width: auto;
  position: relative;
}

.invest .right .box .rectangle {
  width: 100%;
  max-width: 362px;
  position: relative;
  height: 572px;
  left: 5%;
}

.invest .right .box .womanpic {
  max-width: 362px;
  border-radius: 16px;
  height: 500px;
  top: 38px;
  left: -8%;
  object-fit: cover;
  width: 100%;
  position: absolute;
}

.invest .right .box .rent {
  position: absolute;
  max-width: 215px;
  left: -35%;
  top: 170px;
}

.invest .right .box .investify {
  position: absolute;
  max-width: 215px;
  right: -22%;
  bottom: 50px;
}

.invest .right .box .circle {
  position: absolute;
  top: 170px;
  right: 0;
  width: 41px;
  height: 41px;
  fill: none;
  vertical-align: bottom;
  margin-right: 10px;
}

.invest .right .box .cross {
  position: absolute;
  top: 2px;
  left: -18%;
  width: 75px;
  height: 75px;
  fill: none;
  vertical-align: bottom;
  margin-right: 10px;
}

.invest .right .box .dot {
  position: absolute;
  top: 61%;
  left: -12%;
  width: 33px;
  height: 108px;
  fill: none;
  vertical-align: bottom;
  margin-right: 10px;
}

/* RESPONSIVENESS */
@media screen and (max-width: 1000px) {
  .invest .row {
    flex-direction: column;
  }

  .invest .left {
    flex: unset;
    text-align: center;
    padding-bottom: 100px;
    padding-left: 15px;
  }

  .invest .left .text {
    max-width: 500px;
    margin: 0 auto;
  }

  .invest .left .text h1 {
    font-size: 55px;
    line-height: 72px;
  }

  .invest .right {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 650px) {
  .invest .right {
    padding-right: 16px;
    padding-left: 40px;
    margin-bottom: 20px;
  }

  .invest .right .box .rectangle {
    max-width: 90%;
  }

  .invest .right .box .womanpic {
    max-width: 90%;
  }

  .invest .right .box .rent {
    left: -22%;
  }

  .invest .right .box .investify {
    right: 0;
  }
}

@media screen and (max-width: 476px) {
  .invest .left .text h1 {
    font-size: 45px;
    line-height: 57px;
  }

  .invest .right {
    padding-left: 70px;
  }

  .invest .left .box .btn-download {
    display: block;
    width: 165px;
    margin: 20px auto;
  }
}
