@font-face {
  font-family: "U8-Bold";
  src: url("../../assets/fonts/Fatype_U8/Fatype_U8/U8-Bold.otf")
    format("opentype");
}

.customer {
  padding: 100px 16px;
  font-family: DM Sans, sans-serif !important;
  color: #353535;
  line-height: 27.2px;
  font-size: 16.5px;
}

.customerContainer {
  margin: auto;
  max-width: 1165px;
}

.leftRight {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

.customer .customerContainer .leftRight .left {
  flex: 0 0 45%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.testimonials {
  height: 100%;
  height: 400px;
  margin: auto;
  overflow-y: hidden;
  scroll-behavior: initial;
  position: relative;
  width: auto;
}

@keyframes scroll {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);
  }
}

.boxes {
  animation-name: scroll;
  animation-duration: 35s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}

.testimonials::before {
  position: absolute;
  left: 0 !important;
  top: 0 !important;
}

.testimonials::after {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.testimonials::before,
.testimonials::after {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    to(hsla(0, 0%, 100%, 0))
  );
  background: -webkit-linear-gradient(top, #fff, hsla(0, 0%, 100%, 0));
  background: -moz-linear-gradient(top, #fff 0, hsla(0, 0%, 100%, 0) 100%);
  background: linear-gradient(180deg, #fff 0, hsla(0, 0%, 100%, 0));
  content: "";
  height: 50px;
  position: absolute;
  width: 100%;
  z-index: 2;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    to(hsla(0, 0%, 100%, 0))
  );
  background: -webkit-linear-gradient(top, #fff, hsla(0, 0%, 100%, 0));
  background: -moz-linear-gradient(top, #fff 0, hsla(0, 0%, 100%, 0) 100%);
  background: linear-gradient(180deg, #fff 0, hsla(0, 0%, 100%, 0));
  content: "";
  height: 50px;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.customer .boxes .box {
  max-width: 420px;
  padding: 11px 17px 24px 18px !important;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.customer .customerContainer .boxes .box small {
  width: 100%;
  font-size: 12px;
  color: #727272;
  text-align: end;
}

.customer .customerContainer .boxes .box .imgContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.customer .customerContainer .boxes .box .imgContent img {
  border-radius: 50%;
  object-fit: cover;
  height: 35px;
  width: 35px;
}

.customer .customerContainer .boxes .box .imgContent .boxContent h6 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: column;
}

.customer .customerContainer .boxes .box .imgContent .boxContent h6 {
  font-size: 12.82px;
  margin: 0;
  font-family: U8-Bold !important;
  font-weight: 700;
  color: #0c1825;
}

.customer .customerContainer .boxes .box .imgContent .boxContent p {
  font-size: 12px;
  line-height: 20px !important;
  margin: 0;
}

.customer .customerContainer .right {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 55%;
  display: flex;
  align-items: center;
}

.customer .customerContainer .right .content {
  max-width: 420px;
}

.customer .customerContainer .right h4 {
  font-size: 33px;
  line-height: 41.21px;
  margin: 0;
  font-weight: 700;
  color: #0c1825;
  font-family: U8-Bold, sans-serif;
}

.customer .customerContainer .right p {
  margin: 13px 0 38px;
  font-weight: 400;
}

.customer .box {
  padding: 0;
  margin: 0;
  background: none;
}

.customer .box .btn {
  font-size: 16.5px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  padding: 16px 22px;
  border-radius: 12px;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s;
  background: #0c1825;
  color: #fff;
  text-decoration: none;
}

.customer .box .btn:hover {
  background: #0d60d8;
}

.customer .box .download {
  margin-top: 55px;
}

.customer .box .btn-download {
  position: relative;
  top: 0.5px;
  color: #0c1825;
  padding: 14.5px 16px;
  border: 1px solid #ddd;
  border-radius: 12px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  width: 53px;
  white-space: nowrap;
  height: 53px;
  margin-right: 16px;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
}

.customer .btn-download:hover {
  border: 1px solid #bbb;
}

.customer .btn-download img {
  margin-bottom: -6px;
  margin-right: 3px;
}

.customer .box {
  width: auto;
  position: relative;
}

/* RESPONSIVENESS */
@media screen and (max-width: 1000px) {
  .customer {
    position: relative;
  }

  .leftRight {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .customer .customerContainer .leftRight .left {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 0.9375rem;
  }

  .customer .customerContainer .leftRight .right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 0.9375rem;
  }

  .customer .customerContainer .right {
    text-align: center;
  }

  .customer .customerContainer .right h4 {
    font-size: 28px;
    line-height: 36px;
  }
}

@media screen and (max-width: 476px) {
  .customer .box .btn-download {
    display: block;
    width: 165px;
    margin: 20px auto;
  }
}
