@font-face {
  font-family: "U8-Bold";
  src: url("../../Assets/fonts/Fatype_U8/Fatype_U8/U8-Bold.otf")
    format("opentype");
}

.interact {
  font-family: DM Sans, sans-serif !important;
  color: #ffffff;
  line-height: 27.2px;
  font-size: 16.5px;
}

.interact .interactContainer {
  display: flex;
}

.interact .interactContainer .left {
  background-color: #0d60d8;
  padding: 80px 16px 65px;
  flex: 0 0 58.333333%;
  position: relative;
  width: 100%;
}

.interact .interactContainer .left .content {
  margin-right: 28%;
  margin-left: auto;
  max-width: 460px;
}

.interact .interactContainer .left .content h2 {
  font-size: 51px;
  line-height: 64.1px;
  font-family: U8-Bold, sans-serif !important;
  font-weight: 700;
}

.interact .interactContainer .left .content p {
  margin: 15px 0 0;
  max-width: 450px;
}

.interact .interactContainer .left .content .bottom {
  max-width: 450px;
  margin-top: 45px;
  display: block;
  color: #fff;
  width: max-content;
  font-weight: 700;
  background-image: -webkit-linear-gradient(
    top,
    transparent 65%,
    hsla(0, 0%, 100%, 0.4235294117647059) 0
  );
  background-image: -moz-linear-gradient(
    top,
    transparent 65%,
    hsla(0, 0%, 100%, 0.4235294117647059) 0
  );
  background-image: linear-gradient(
    180deg,
    transparent 65%,
    hsla(0, 0%, 100%, 0.4235294117647059) 0
  );
  position: relative;
  top: 2px;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-size: 0 100%;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.interact .interactContainer .left .content .bottom:hover {
  background-size: 100% 100%;
}

.interact .interactContainer .left .content .bottom .arrow {
  position: relative;
  top: 2px;
  vertical-align: bottom;
  margin-right: 10px;
  width: 33px;
  height: 33px;
  fill: none;
}

.interact .interactContainer .right {
  width: 100%;
  background-image: url("../../assets/images/png/saver-of-the-month.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 41.666667%;
}

@media screen and (max-width: 1000px) {
  .interact {
    text-align: center;
  }

  .interact .interactContainer {
    flex-direction: column;
  }

  .interact .interactContainer .left {
    padding-bottom: 80px;
  }

  .interact .interactContainer .left .content {
    margin-right: auto;
  }

  .interact .interactContainer .left .content h2 {
    font-size: 41px;
    line-height: 54px;
  }

  .interact .interactContainer .left .content .bottom {
    margin-left: auto;
    margin-right: auto;
  }

  .interact .interactContainer .right {
    min-height: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 480px) {
  .interact .interactContainer .left .content h2 {
    font-size: 31px;
    line-height: 39px;
  }
}
